apiVersion: v1
kind: Pod
metadata:
  name: pod-affinity
  namespace: demo
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: disktype
            operator: In
            values:
            - ssd
  containers:
  - name: busybox
    image: busybox
    