apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: demo-pvc-1
  namespace: demo-1
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi